{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/todo.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApp</title>
</head>
<body>
    <div class="nav">
        <h1 class="brand">Todos</h1>
        <ul class="nav-list">
        {% if user.is_authenticated %}
            <li>
                <form action={% url 'logout' %} method='POST'>
                {% csrf_token %}
                    <input id='nav-btn' type='submit' value="Logout"/>
                </form>
            </li>
        {% else %}
        <li><a id="nav-a" href="{% url 'login' %}">Login</a></li>
        <li><a id="nav-a" href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
        </ul>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>